@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-Red: hsl(0, 78%, 62%);
  --color-primary-Cyan: hsl(180, 62%, 55%);
  --color-primary-Orange: hsl(34, 97%, 64%);
  --color-primary-Blue: hsl(212, 86%, 64%);

  --color-gray-500: hsl(234, 12%, 34%);
  --color-gray-400: hsl(212, 6%, 44%);
}